<div id="body">
	<div id="header">
		<div id="header-title">gavely | Plan using A.I</div>

		<div id="header-navs">
			<div class="header-nav" (click)="goToPage('register')">Register</div>
			<div class="header-nav" (click)="goToPage('login')">Sign-In</div>
			<div class="header-nav" (click)="goToPage('intro')">Intro</div>
			<div class="header-nav" (click)="goToPage('about')">About Us</div>
			<div class="header-nav" (click)="goToPage('price')">Pricing</div>
		</div>
	</div>
	<div id="main">
		<div id="main-header">Pricing</div>
		<div id="main-row">
			<div class="price-box">
				<div class="price-header">1 week trial</div>

				<ul class="price-option-box">
					<li class="price-option">Up to 2 plan(s) Max</li>
					<li class="price-option">Up to 3 worker(s) / plan</li>
				</ul>
			</div>
			<div class="price-box">
				<div class="price-header">$ 10 monthly</div>

				<ul class="price-option-box">
					<li class="price-option">Up to 10 plan(s) Max</li>
					<li class="price-option">Up to 10 worker(s) / plan</li>
				</ul>
			</div>
			<div class="price-box">
				<div class="price-header">$ 50 monthly</div>

				<ul class="price-option-box">
					<li class="price-option">Unlimited plan(s)</li>
					<li class="price-option">Up to 20 worker(s) / plan</li>
				</ul>
			</div>
		</div>
	</div>
</div>
