<div id="body">
	<div id="header">
		<div id="header-title">gavely | Plan using A.I</div>

		<div id="header-navs">
			<div class="header-nav" (click)="goToPage('register')">Register</div>
			<div class="header-nav" (click)="goToPage('login')">Sign-In</div>
			<div class="header-nav" (click)="goToPage('intro')">Intro</div>
			<div class="header-nav" (click)="goToPage('about')">About Us</div>
			<div class="header-nav" (click)="goToPage('price')">Pricing</div>
		</div>
	</div>
	<div id="main">
		<div id="main-column">
			<div id="main-header">Who we are and our goal</div>

			<p id="main-note">
				We are a group of driven developers always looking to have an impact on our society. 
				We have built many softwares and used many tools like Trello, Favro and Monday.com to keep our work organized.

				<br><br>

				As we used these tools, we found many ways that they can improve. We figured that some of the features they 
				provided can be done with automations so we decided to try to build another planning tool with integrations A.I

				<br><br>

				Our goal for this tool is to keep plans organized
			</p>
		</div>
	</div>
</div>
