<div id="body">
	<div id="header">
		<div id="header-title">gavely | Plan using A.I</div>

		<div id="header-navs">
			<div class="header-nav" (click)="goToPage('register')">Register</div>
			<div class="header-nav" (click)="goToPage('login')">Sign-In</div>
			<div class="header-nav" (click)="goToPage('intro')">Intro</div>
			<div class="header-nav" (click)="goToPage('about')">About Us</div>
			<div class="header-nav" (click)="goToPage('price')">Pricing</div>
		</div>
	</div>
	<div id="main">
		<div id="main-headers">
			<div class="main-header">The next generation of planning is here</div>
			<div class="main-header">We use automations to keep you organized</div>
		</div>
		<div id="main-photo">
			<img src="assets/gavely.jpg"/>
		</div>
	</div>
</div>
